body {
    margin: 0;
    background-color: #87CEEB;
    /* Світло-блакитний фон */
}

#mapContainer {
    width: 70vw;
    /* Ширина контейнера */
    height: 80vh;
    /* Висота контейнера */
    border: 4px solid #FF4500;
    /* Яскрава рамка для контейнера */
    border-radius: 10px;
    /* Закруглені краї рамки */
    position: relative;
    cursor: grab;
    /* Змінити курсор на "захопити" */
    margin: 50px auto;
    /* Центрування контейнера на екрані */
    overflow: hidden;
    /* Сховати все, що виходить за межі контейнера */
    background-color: #ddd; /*rgba(255, 255, 255, 0.8);*/
    /* Легкий фон для контейнера */
}

#mapImage {
    position: absolute;
    /* Абсолютне позиціювання для переміщення */
    cursor: grab;
    /* Змінити курсор на "захопити" */
    user-select: none;
    /* Запобігти виділенню тексту */
    transition: transform 0.2s ease;
    /* Додати анімацію при масштабуванні */
    z-index: 1;
    /* Встановити z-index для зображення */
}

.controls {
    position: absolute;
    top: 10px;
    /* Відстань від верхнього краю контейнера */
    right: 10px;
    /* Відстань від правого краю контейнера */
    display: flex;
    flex-direction: column;
    /* Вертикальне розміщення кнопок */
    z-index: 2;
    /* Встановити z-index для кнопок, щоб вони були на передньому плані */
}

.controls button {
    margin: 5px;
    /* Відстань між кнопками */
    padding: 10px;
    background-color: #FF4500;
    /* Фоновий колір кнопок */
    color: white;
    /* Колір тексту на кнопках */
    border: none;
    /* Без рамки */
    border-radius: 5px;
    /* Закруглені краї кнопок */
    cursor: pointer;
    /* Змінити курсор на "палець" */
}

.controls button:hover {
    background-color: #FF6347;
    /* Зміна кольору кнопок при наведенні */
}
