# Ігноруємо локальну папку з бібліотеками.
# Вона важить багато, і контейнер має сам скачати свої залежності через "npm ci".
node_modules

# Ігноруємо лог-файли npm, які створюються у разі помилок розробки.
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ігноруємо історію Git. Контейнеру для роботи додатка не потрібна вся історія комітів.
.git
.gitignore

# Ігноруємо локальні файли конфігурації (Не можна копіювати через безпеку).
.env
.env.local
.env.development
.env.*

# Ігноруємо папку з локальними логами додатка (Щоб не закидувати старі логи в образ і щоб їх отримути з Docker треба Volumes (Томи)).
logs/
*.log

# Ігноруємо документацію та файли налаштувань редактора коду.
.vscode/
.idea/
README.md
