# ========================
# Змінні середовища
# ========================

# Загальний файл .env
.env
# Інші файли .env, які можуть бути специфічними для середовища
.env.*
# Локальні змінні середовища
.env.local
# Специфічні локальні змінні середовища (наприклад, .env.development.local)
.env.*.local
# Якщо ви хочете зберегти шаблон .env.example
!.env.example

# ========================
# Сертифікати та ключі
# ========================

# Папка з сертифікатами (Ігнорувати весь вміст папки)
certs/*
# Але не ігнорувати саму папку certs
!certs/.gitkeep
# Сертифікати PEM
*.pem
 # Ключі PEM
*.key
# Сертифікати CRT
*.crt

# ========================
# Конфігураційні файли
# ========================

.firebase/
.terraform/

# ========================
# Стороні залежності (наприклад, Oracle Instant Client, якщо є)
# ========================
# Ігнорувати весь вміст папки bin
bin/*
# Але не ігнорувати саму папку bin
!bin/.gitkeep

# ========================
# IDE та редактори (VS Code)
# ========================


# ========================
# Загальні файли та папки
# ========================

# Загальна папка для логів
logs/
# Файли журналів
*.log
# Тимчасові файли
*.tmp
# Файли свопу Vim/NeoVim
*.swp
# Резервні копії
*.bak

# Типова папка для збірки (Webpack, Rollup, Parcel)
dist/
# Інша типова папка для збірки
build/
# Можлива папка для виводу
out/


# ========================
# Системні файли ОС
# ========================

# macOS desktop services store
.DS_Store
# Windows thumbnail cache
Thumbs.db

ehthumbs.db
Desktop.ini
.localized


# ========================
# Node.js / JavaScript
# ========================

# Всі папки залежностей Node.js
node_modules/
# Логи налагодження NPM
npm-debug.log
yarn-debug.log
yarn-error.log
# Для pnpm
.pnpm-store/
# Якщо ви використовуєте Yarn або pnpm, і не хочете комітити package-lock.json
# package-lock.json
# Для pnpm
pnpm-lock.yaml

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Згенеровані файли/папки збірки
# Типова папка для збірки (Webpack, Rollup, Parcel)
dist/
# Інша типова папка для збірки
build/
# Можлива папка для виводу
out/
# Для Next.js проєктів
.next/
# Для Nuxt.js проєктів
.nuxt/
# Для Parcel
.parcel-cache/


# ========================
# Python
# ========================
# Папки кешу Python bytecode
__pycache__/
# Компільовані файли Python
*.pyc
# Віртуальні середовища Python (типово venv)
venv/
# Інший типовий варіант віртуального середовища
.venv/
*.egg-info/
