# Ігноруємо згенеровані файли
node_modules/
build/
dist/

# Лог-файли
*.log

# Файли із стисненим або мініфікованим кодом
*.min.js
*.min.css

# Конфігураційні файли, які не потребують форматування
package-lock.json
yarn.lock

# Інші виключення
coverage/
.env
