# Загальні файли та папки, які часто ігноруються
node_modules/
dist/
build/
coverage/
.temp/
.cache/
.next/ # Для Next.js проєктів
.nuxt/ # Для Nuxt.js проєктів
out/
yarn-error.log
npm-debug.log*

# Конфігураційні файли, які можуть бути специфічними
*.min.js
*.min.css

# Файли, які генеруються автоматично або є частиною зовнішніх інструментів
src/generated/ # Якщо у вас є папка з автогенерованим кодом

# Конкретні файли, якщо потрібно
my-special-unformatted-file.js

# Зняття ігнорування (якщо папка ігнорується, але вам потрібен конкретний файл з неї)
# !node_modules/some-module/index.js
